.card {
  max-width: 215px;
  font-size: 0.9rem;
  color: rgb(109, 109, 109);
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  transition: all 0.5s;

  &:hover {
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
    transform: translate(0, -10px);
    border-bottom-color: #1957bf;
  }
}

.imageBox {
  height: 150px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  margin: 0;
  text-decoration: none;
  font-weight: 600;
  color: #1957bf;
  flex-grow: 1;
  font-size: 1rem;

  &:hover {
    text-decoration: underline;
  }
}

.birthday {
  margin: 0;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;

  flex-grow: 0;

  & a {
    text-decoration: none;
    color: #1957bf;

    &:hover {
      text-decoration: underline;
    }
  }
}

.date {
  margin: 0;
  margin-top: 0.5rem;
  font-size: 0.8rem;

  & svg {
    margin-right: 5px;
    font-size: 0.7rem;
  }
}

.gender {
  margin: 0;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;

  flex-grow: 0;

  & a {
    text-decoration: none;
    color: #1957bf;

    &:hover {
      text-decoration: underline;
    }
  }
}

.category {
  margin: 0;
  margin-top: 0.5rem;
}

.stats {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  flex-grow: 0;
  font-size: 0.8rem;
  background-color: rgb(241, 241, 241);
  border-top: 1px solid #ccc;
  justify-content: space-between;

  & span svg {
    font-size: 0.7rem;
  }
}
