.loader {
  margin: 0 0 30px 0;

  display: flex;
  justify-content: center;

  & svg {
    width: 30px;
    height: 30px;
    animation: rotating 3s linear infinite;
  }
}

.error {
  color: #bf1919;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.loading {
  color: #1957bf;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
