*,
*:focus,
*:hover {
  outline: none;
}

.block {
  display: inline-flex;
  justify-content: center;

  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #ccc;
}

.form {
  display: inline-flex;
  flex-direction: column;
}

.input {
  border: 1px solid #ccc;
  padding: 0.7rem;

  &:focus {
    border-color: #1957bf;
  }
}

.error {
  color: #bf1919;
  font-size: 0.7rem;
}

.fullName {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.birthInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;

  & div {
    display: flex;
    flex-direction: column;
    width: 100%;

    &:first-child {
      margin-right: 1rem;
    }
  }
}

.gender {
  justify-content: start;
  margin-bottom: 1rem;
}

.file {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 0.8rem;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 0.8rem;
}

.confirmation {
  display: block;
  margin-bottom: 1rem;

  & input {
    margin-right: 0.5rem;
  }
}

.buttons {
  display: flex;
}

.submitButton {
  border: 1px solid #ccc;
  padding: 0.7rem;
  cursor: pointer;
  flex-grow: 1;

  &:focus {
    border-color: #1957bf;
  }

  &:hover {
    border-color: #1957bf;
  }

  &:disabled {
    cursor: no-drop;

    &:hover {
      border-color: inherit;
    }
  }
}

.clearButton {
  border: 1px solid #d35f5f;
  background-color: #d35f5f;
  color: white;
  padding: 0.7rem;
  cursor: pointer;

  &:hover {
    background-color: #bf1919;
    border-color: #bf1919;
    color: white;
  }
}

.successMessage {
  border: 1px solid #5fd37c;
  background-color: #5fd37c;
  color: white;
  padding: 0.7rem;
}
