.search {
  margin: 30px 0;
  text-align: center;

  &__input {
    height: 50px;
    min-width: 300px;
    padding: 5px 10px;
    font-size: 1.25rem;
    border: 2px solid #2f51c4;
    border-radius: 0;

    &:focus {
      border-color: #ccc;
      outline: none;
    }
  }
}
