.header {
  padding: 0 4%;
  background-color: #1957bf;
}

.nav {
  height: 4rem;
  display: flex;
  align-items: stretch;

  & ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & li {
    margin-right: 1rem;
    // font-size: 1.25rem;
  }

  & a {
    text-decoration: none;
    color: white;
  }
}

.active {
  border-bottom: 1px solid rgb(255, 255, 255);
}
